<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hasła</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
</head>
<body>
    <h1>Czyste hasła:</h1>
    <p th:each="password : ${passwords}">[[${password}]]</p>
    <h1>MD5:</h1>
    <p th:each="password : ${md5}">[[${password}]]</p>
    <h1>SHA:</h1>
    <p th:each="password : ${sha}">[[${password}]]</p>
    <h1>bcrypt:</h1>
    <p th:each="password : ${bcrypt}">[[${password}]]</p>
    <a th:href="@{/}">Powrót</a>
</body>
</html>