<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hasła</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>HASZOWANIE HASEŁ</h1>
        </div>
        <div class="content">

            <div class="form">
                <h2>Czyste hasła:</h2>
                <p th:each="password : ${passwords}">[[${password}]]</p>
                <h2>MD5:</h2>
                <p th:each="password : ${md5}">[[${password}]]</p>
                <h2>SHA:</h2>
                <p th:each="password : ${sha}">[[${password}]]</p>
                <h2>bcrypt:</h2>
                <p th:each="password : ${bcrypt}">[[${password}]]</p>
                <form method="GET" th:action="@{/download}">
                    <input type="hidden" th:value="${md5}" id="md5" name="md5">
                    <input type="hidden" th:value="${sha}" id="sha" name="sha">
                    <input type="hidden" th:value="${bcrypt}" id="bcrypt" name="bcrypt">
                    <input type="submit" value="Pobierz zip" class="pure-button pure-button-primary">
                    <a th:href="@{/}" class="pure-button">Powrót</a>
                </form>
            </div>

        </div>
        <div class="footer">
            Autor aplikacji: Rafał Łyczek
        </div>
    </div>
</body>
</html>